<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	TrocaOuNaoTroca</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		CadastrarUsuario</display-name>
		<servlet-name>CadastrarUsuario</servlet-name>
		<servlet-class>
		servlet.CadastrarUsuario</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>
		servlet.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		PaginaUsuario</display-name>
		<servlet-name>PaginaUsuario</servlet-name>
		<servlet-class>
		servlet.PaginaUsuario</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Galeria</display-name>
		<servlet-name>Galeria</servlet-name>
		<servlet-class>
		servlet.Galeria</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		PaginaItem</display-name>
		<servlet-name>PaginaItem</servlet-name>
		<servlet-class>
		servlet.PaginaItem</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		IniciarTroca</display-name>
		<servlet-name>IniciarTroca</servlet-name>
		<servlet-class>
		servlet.IniciarTroca</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		PaginaTroca</display-name>
		<servlet-name>PaginaTroca</servlet-name>
		<servlet-class>
		servlet.PaginaTroca</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		NovaTroca</display-name>
		<servlet-name>NovaTroca</servlet-name>
		<servlet-class>
		servlet.NovaTroca</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CadastrarItem</display-name>
		<servlet-name>CadastrarItem</servlet-name>
		<servlet-class>
		servlet.CadastrarItem</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AceitaTroca</display-name>
		<servlet-name>AceitaTroca</servlet-name>
		<servlet-class>
		servlet.AceitaTroca</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CancelarTroca</display-name>
		<servlet-name>CancelarTroca</servlet-name>
		<servlet-class>
		servlet.CancelarTroca</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		NovaMensagem</display-name>
		<servlet-name>NovaMensagem</servlet-name>
		<servlet-class>
		servlet.NovaMensagem</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		BuscarItens</display-name>
		<servlet-name>BuscarItens</servlet-name>
		<servlet-class>
		servlet.BuscarItens</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CadastrarUsuario</servlet-name>
		<url-pattern>/CadastrarUsuario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PaginaUsuario</servlet-name>
		<url-pattern>/PaginaUsuario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Galeria</servlet-name>
		<url-pattern>/Galeria</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PaginaItem</servlet-name>
		<url-pattern>/PaginaItem</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IniciarTroca</servlet-name>
		<url-pattern>/IniciarTroca</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PaginaTroca</servlet-name>
		<url-pattern>/PaginaTroca</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NovaTroca</servlet-name>
		<url-pattern>/NovaTroca</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CadastrarItem</servlet-name>
		<url-pattern>/CadastrarItem</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AceitaTroca</servlet-name>
		<url-pattern>/AceitaTroca</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CancelarTroca</servlet-name>
		<url-pattern>/CancelarTroca</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NovaMensagem</servlet-name>
		<url-pattern>/NovaMensagem</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuscarItens</servlet-name>
		<url-pattern>/BuscarItens</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
